<!-- Footer -->
<footer id="contacto" class="d-flex flex-column align-items-center justify-content-center">
  <!--<a class="edit-button"><i class="bi bi-pencil"></i></a>-->
  <p class="footer-texto text-center">Aprendo y creo todos los días.<br>Creemos un proyecto juntos</p>
  <img class="footer-icono img-fluid" src="./assets/imagenes/diseño web.jpg" alt="logo">
  <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
    <a href="https://github.com/Pablo2311" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/pablo-ra%C3%BAl-guti%C3%A9rrez/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://www.instagram.com/pablo_carp/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram"></i>
    </a>
    <a href="mailto:gutierrezpabloraul@gmail.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-envelope-check-fill"></i>
    </a>
  </div>
  <div class="derechos-de-autor">Creado por Pablo Gutiérrez (2023) &#169;</div>
</footer>