<!-- Footer -->
<footer id="contacto" class="d-flex flex-column align-items-center justify-content-center">
  <img class="footer-icono img-fluid" src="./assets/imagenes/diseño web.jpg" alt="logo">
  <p class="footer-texto text-center">Aprendo y creo todos los días.<br>Creemos un proyecto juntos</p>
  <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
    <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram"></i>
    </a>
    <a href="mailto:pablo2311@micorreo.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-envelope-check-fill"></i>
    </a>
  </div>
  <div class="derechos-de-autor">Creado por Pablo Gutiérrez (2023) &#169;</div>
</footer>