<!-- Seccion Hero -->
<section class="hero align-items-stretch">
  <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
    <!--<a href="#" class="edit-button"><i class="bi bi-pencil"></i></a>-->
    <img class="hero-imagen-perfil rounded-circle" src="./assets/imagenes/perfil.png" alt="Foto del desarrollador Pablo Gutiérrez">
    <h1>Hola, soy Pablo Gutiérrez</h1>
    <h2>Desarrollador de sitios web Full Stack Jr. Actualmente sigo buscando mejorar mis habilidades como desarrollador y diseñador de sitios web.</h2>
  </div>
  <div class="hero-inferior">
    <img class="hero-inferior-imagen img-fluid" src="./assets/imagenes/desarrollo-web.png" alt="elementos del desarrollo web">
  </div>
</section>
<!-- Sobre mi -->
<section id="sobre-mi" class="sobre-mi seccion-oscura">
  <a class="edit-button" [routerLink]="['/editar-sobre-mi/', about.id]" *ngIf="estaLogueado"><i class="bi bi-pencil"></i></a>
  <div class="container">    
    <h2 class="seccion-titulo text-center">{{about.titulo}} </h2>
    <p class="seccion-texto ">{{about.parrafo}}</p>
  </div>
</section>