<!-- Experiencia -->
<section id="experiencia" class="experiencia seccion-clara">
  <!--<a class="edit-button"><i class="bi bi-pencil"></i></a>-->
  <div class="contenedor container-fluid">
    <h2 class="seccion-titulo ">Experiencia</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Lugar</th>
          <th scope="col">Desde</th>
          <th scope="col">Hasta</th>
          <th scope="col">Puesto</th>
          <th scope="col">Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Air Computers</th>
          <td>1/8/2018</td>
          <td>30/11/2018</td>
          <td>Servicio técnico</td>
          <td>Estuve como pasante en servicio técnico</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>