<!-- Experiencia -->
<section id="experiencia" class="experiencia seccion-clara">
  <a class="edit-button" href="/experiencia-admin" *ngIf="estaLogueado"><i class="bi bi-pencil"></i></a>
  <div class="contenainer text-center">
    <h2 class="seccion-titulo ">Experiencia</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Empleador</th>
          <th scope="col">Desde</th>
          <th scope="col">Hasta</th>
          <th scope="col">Puesto</th>
          <th scope="col">Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exp of lista">
          <td>{{exp.empleador}}</td>
          <td>{{exp.desde}}</td>
          <td>{{exp.hasta}}</td>
          <td>{{exp.puesto}}</td>
          <td>{{exp.descripcion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>