<!-- Habilidades -->
<section id="habilidades" class="container habilidades seccion-clara">
  <div class="container text-center">
    <div class="row">
      <!-- Desarrollo web -->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-laptop laptop"></i>
        <p class="habilidades-titulo">Desarrollo web</p>
        <p>Estos son mis áreas de conocimiento actuales.</p>
        <div class="bagdes-contenedor">
          <span class="badge text-bg-dark">Front-end</span>
          <span class="badge text-bg-dark">Back-end</span>
          <span class="badge text-bg-dark">Bases de datos</span>
        </div>
      </div>
      <!-- Habilidades digitales -->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-laptop laptop"></i>
        <p class="habilidades-titulo">Habilidades</p>
        <p>Estas son algunas de las herramientas que manejo y con las que trabajo actualmente en el diseño y desarrollo de sitios web.
          <br> Para más información sobre todas mis herramientas de desarrollo, consultar en la página de abajo.</p>
        <div class="bagdes-contenedor">
          <span class="badge text-bg-warning">HTML</span>
          <span class="badge text-bg-primary">CSS</span>
          <span class="badge text-bg-warning">JavaScript</span>
          <span class="badge text-bg-warning">TypeScript</span>
          <span class="badge text-bg-warning">Angularjs</span>
        </div>
      </div>
      <!-- Estudiante -->
      <div class="columna col-12 col-md-4">
        <i class="bi bi-laptop laptop"></i>
        <p class="habilidades-titulo">Estudiante</p>
        <p>Para más información sobre todas las herramientas de desarrollo que estoy aprendiendo, consultar en la página de abajo.</p>
        <div class="bagdes-contenedor">
          <span class="badge text-bg-warning">Java</span>
          <span class="badge text-bg-warning">MySQL</span>
          <span class="badge text-bg-warning">Spring Boot</span>
        </div>
      </div>
    </div>
  </div>
  <a href="Habilidades.html" rel="noopener noreferrer">
    <button type="button" class="btn btn-warning">
    Ver todas las habilidades digitales
    <i class="bi bi-arrow-right-circle-fill"></i>
    </button>
  </a>
</section>