<!-- Barra de navegacion -->
<nav class="navbar navbar-expand-xl navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <a class="navbar-brand" href="index.html">
        <img class="argentina_programa_logo" src="./assets/imagenes/ic-argprog.png" alt="Argentina Programa">
      </a>
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/sobre-mi">Sobre mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/educacion">Educación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/habilidades">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/proyectos">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/sobre-mi#contacto">Contactos</a>
        </li>
      </ul>
    </div>
    <a class="logo" href="https://github.com/Pablo2311" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
    </a>
    <a class="logo" href="https://www.linkedin.com/in/pablo-ra%C3%BAl-guti%C3%A9rrez/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
    <a class="logo" href="https://www.instagram.com/pablo_carp/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram"></i>
    </a>
    <button type="button" routerLink="/login" class="btn btn-dark login" *ngIf="!estaLogueado">
      Login
    </button>
    <button type="button" routerLink="/sobre-mi" class="btn btn-danger login" (click)="onClick()" *ngIf="estaLogueado">
      Logout
    </button>
  </div>
</nav>