/* Elementos generales */

body {
  background-color: #fff;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1 {
  font-size: 2.5rem;
}

.seccion-oscura {
  background-color: #111;
  color: white;
}

.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
  padding: 10px;
}

.edit-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.edit-button i {
  color: #fff;
  background-color: #135bf7;
  font-size: 1.75rem;
  width: 2.85rem;
  height: 2.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 2px solid #000;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.edit-button:hover {
  border: 0px solid #000;
}

.edit-button:hover i {
  color: black;
  background-color: white;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.btn-warning {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Barra de herramientas */

@media screen and (min-width: 992px) {
  .navbar {
    max-width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    max-width: 100vw;
  }
}

@media screen and (max-width: 100vw) {
  .navbar {
    min-width: 100vw;
  }
}

.navbar {
  background-color: #fbbb5b;
  padding: .5rem;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.logo i {
  color: white;
  font-size: 1.2rem;
  transition: all 0.2s ease-in;
}

.logo:hover {
  background-color: white;
  border:  2px solid rgb(0, 0, 0);
}

.logo:hover i {
  color: black;
}

.login {
  margin: 10px;
}

/* Seccion Hero */

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
  position: relative;
}

.hero-imagen-perfil {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  font-size:  1.5rem;
  color: #323;
}

/*.hero-inferior {
  height: 300px;
}*/

/*.hero-inferior-imagen {
  min-width: 50%;
}*/

/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 0px, 10px;
  position: relative;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
  
}

/* Experiencia */

.experiencia {
  height: 500px;
  padding: 0px, 10px;
  position: relative;
}

.experiencia .contenedor {
  max-width: 600px;
  text-align: center;
  
}

/* Educacion */

.educacion {
  height: 500px;
  padding: 0px, 10px;
  position: relative;
}

.educacion .contenedor {
  max-width: 600px;
  text-align: center;
  
}

/* Habilidades */

.habilidades {
  padding: 40px 40px 60px 40px;
  position: relative;
}

.habilidades .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.habilidades .columna:hover {
  color: white;
  background-color: #1b1b32;
}

.habilidades .laptop {
  font-size: 2.5rem;
  color: #fbbb5b;
  padding: 8px 19px;
}

.habilidades-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.bagdes-contenedor {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/*.badge-bg {
  background-color: #ff8;
}*/

/* Proyectos */

.proyectos {
  padding: 40px;
  background-color: #ccc;
  position: relative;
}

.proyectos img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.5;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Footer */

footer {
  background-color: #555;
  min-height: 500px;
  position: relative;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size:  1.5rem;
  color: #fff;
  padding: 20px;
  margin-bottom: 30px;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border:  4px solid rgb(223, 131, 26);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #eee;
  padding: 15px;
}