<!-- Educacion -->
<section id="educacion" class="educacion seccion-clara">
  <a class="edit-button" href="/educacion-admin"><i class="bi bi-pencil"></i></a>
  <div class="contenainer text-center">
    <h2 class="seccion-titulo ">Educación</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Institución</th>
          <th scope="col">Desde</th>
          <th scope="col">Hasta</th>
          <th scope="col">Orientación</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let edu of lista">
          <td>{{edu.institucion}}</td>
          <td>{{edu.desde}}</td>
          <td>{{edu.hasta}}</td>
          <td>{{edu.descripcion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>