<!-- Educacion -->
<section id="educacion" class="educacion seccion-clara">
  <!--<a class="edit-button"><i class="bi bi-pencil"></i></a>-->
  <div class="contenedor container-fluid">
    <h2 class="seccion-titulo ">Educación</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Institución</th>
          <th scope="col">Desde</th>
          <th scope="col">Hasta</th>
          <th scope="col">Orientación</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Inst. Ntra. Sra. de la Paz</th>
          <td>2007</td>
          <td>2019</td>
          <td>Bachiller con orientación en Informática</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>