<!-- Proyectos -->
<section id="proyectos" class="proyectos seccion-clara d-flex flex-column">
  <!--<a class="edit-button"><i class="bi bi-pencil"></i></a>-->
  <h2 class="seccion-titulo texto-negro">Mis Proyectos</h2>
  <h3 class="seccion-descripcion">Estos son algunos proyectos en los que he estado trabajando recientemente</h3>
  <!-- Galeria de proyectos -->
  <div class="container text-center proyectos-contenedor">
    <div class="row">
      <!-- Proyecto 1 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="./assets/imagenes/diseño web.jpg">
          <div class="overlay">
            <p>Green Point</p>
            <div class="iconos-contenedor">
              <a href="https://github.com/No-Country/c13-18-m-java-angular" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i></a>
              <a href="https://www.youtube.com/watch?v=ephVUhtPePw" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
       </div>
      </div>
      <!-- Proyecto 2 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="./assets/imagenes/BookLeaks.png">            
        <div class="overlay">
          <p>BookLeaks</p>
            <div class="iconos-contenedor">
              <a href="https://github.com/No-Country/s12-10-m-java-angular" target="_blank" rel="noopener noreferrer">                  
                <i class="bi bi-github"></i></a>
              <a href="https://books-leaks.netlify.app/" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Proyecto 3 -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="./assets/imagenes/Huellitas.png">
          <div class="overlay">              
            <p>Huellitas</p>
          <div class="iconos-contenedor">
          <a href="https://github.com/Aguschechile/proteccionistas" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i></a>
          <a href="https://huellitas-tpo.netlify.app/" target="_blank" rel="noopener noreferrer">
           <i class="bi bi-laptop"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<a href="https://github.com/Pablo2311" target="_blank" rel="noopener noreferrer">
  <button type="button" class="btn btn-warning"> 
    Ver más proyectos
    <i class="bi bi-arrow-right-circle-fill"></i>
  </button>
</a>
</section>